.profile__avatar {
  width: 120px;
  height: 120px;
  margin: 0 29px 0 0;
  position: relative;
}

.profile__image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  filter: brightness(100%);
  transition: filter 0.3s linear;
}

.profile__avatar:hover .profile__image {
  filter: brightness(20%);
}

.profile__avatar:hover .avatar__edit-button {
  pointer-events: all;
  visibility: visible;
}

@media screen and (max-width: 740px) {
  .profile__avatar {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__avatar {
    margin-right: 0;
  }
}
